body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.custom-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Adjusted shadow for separation */
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure header is above other elements */
}

.logo {
    height: 40px;
    position: absolute;
    left: 20px;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    font-size: 16px;
}

.nav-links a:hover {
    background-color: #ddd;
    border-radius: 4px;
}

.nav-links a.active {
    background-color: yellowgreen;
    color: white;
    font-size: 18px;
    border-radius: 4px;
}

.search-bar {
    position: absolute;
    right: 100px;
    display: flex;
}

.search-bar input {
    padding: 10px 15px;
    padding-left: 40px; /* Add space for the search icon */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px; /* Rounded corners on the left side only */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 15px center; /* Positioning the icon */
}

.search-bar input::placeholder {
    color: #aaa; /* Placeholder color */
}

.search-bar input:focus {
    outline: none;
    border-color: yellowgreen; /* Focus border color */
}

.search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid yellowgreen;
    border-radius: 0 20px 20px 0; /* Rounded corners on the right side only */
    background-color: yellowgreen;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: darkgreen;
}

/* first section */
.fat {
    width: 100%;
    height: 100vh;
}

.img-one {
    background: url('../../../assets/img/banner-05.jpg') no-repeat center center;
    background-size: cover;
}

.img-two {
    background: url('../../../assets/img/banner-06.jpg') no-repeat center center;
    background-size: cover;
}

.img-three {
    background: url('../../../assets/img/banner-07.jpg') no-repeat center center;
    background-size: cover;
}

.img-one, .img-two, .img-three {
    width: 100%;
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-blend-mode: hue;
    background-color: rgba(0, 0, 0, 0.512);
}

.Loss {
    padding: 12% 10%;
    text-align: right;
}

.orange {
    color: #efb443;
}

.carousel-item h2 {
    font-size: 72px;
    font-weight: 600;
    line-height: 86.4px;
    font-family: 'Livvic', sans-serif;
}

.carousel-item p {
    font-size: 20px;
    font-family: 'Livvic', sans-serif;
    line-height: 33px;
}

.btn_one {
    width: 235px;
    height: 49px;
    font-size: 16px;
    color: white;
    background-color:  #efb443;
    border: none;
    margin-top: 20px;
    border-radius: 800px;
    cursor: pointer;
    transition: 0.5s;
}

.btn_one:hover {
    background-color: transparent;
    border:1px solid #efb443;
}


.responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  a {
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
  }
  
  .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    line-height: 25px;
  }
  
  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 50px 10px 50px;
  }
  
  .mainImg {
    color: black;
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .text-blk.headingText {
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    color: #efb443;
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 15px;
  }
  
  .allText {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 40%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .text-blk.subHeadingText {
    color: rgb(102, 102, 102);
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .text-blk.description {
    font-size: 18px;
    line-height: 26px;
    color: rgb(102, 102, 102);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    font-weight: 400;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .explore {
    font-size: 16px;
    line-height: 28px;
    color: rgb(102, 102, 102);
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(102, 102, 102);
    border-right-color: rgb(102, 102, 102);
    border-bottom-color: rgb(102, 102, 102);
    border-left-color: rgb(102, 102, 102);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    cursor: pointer;
    background-color: white;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 8px;
    padding-right: 40px;
    padding-bottom: 8px;
    padding-left: 40px;
  }
  
  .explore:hover {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #efb443;
    color: white;
    border-top-width: initial;
    border-right-width: initial;
    border-bottom-width: initial;
    border-left-width: initial;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  }
  
  .responsive-container-block.Container {
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    max-width: 1320px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  
  .responsive-container-block.Container.bottomContainer {
    flex-direction: row-reverse;
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    position: static;
  }
  
  .allText.aboveText {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
  }
  
  .allText.bottomText {
    margin-top: 0px;
    margin-right: 40px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .purpleBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 430px;
    background-color: #efb443;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    bottom: -35px;
    left: -8%;
  }
  
  .purpleText {
    font-size: 18px;
    line-height: 26px;
    color: white;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  
  .ultimateImg {
    width: 50%;
    position: relative;
  }
  
  @media (max-width: 1024px) {
    .responsive-container-block.Container {
      max-width: 850px;
    }
  
    .mainImg {
      width: 55%;
      height: auto;
    }
  
    .allText {
      width: 40%;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 20px;
    }
  
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
    }
  
    .responsive-container-block.Container.bottomContainer {
      margin-top: 80px;
      margin-right: auto;
      margin-bottom: 50px;
      margin-left: auto;
    }
  
    .responsive-container-block.Container {
      max-width: 830px;
    }
  
    .allText.aboveText {
      margin-top: 30px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 40px;
    }
  
    .allText.bottomText {
      margin-top: 30px;
      margin-right: 40px;
      margin-bottom: 0px;
      margin-left: 0px;
      text-align: left;
    }
  
    .text-blk.headingText {
      text-align: center;
    }
  
    .allText.aboveText {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .text-blk.subHeadingText {
      text-align: left;
      font-size: 26px;
      line-height: 32px;
    }
  
    .text-blk.description {
      text-align: left;
      line-height: 24px;
    }
  
    .explore {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 30px;
      padding-bottom: 10px;
      padding-left: 30px;
    }
  
    .responsive-container-block.Container {
      justify-content: space-evenly;
    }
  
    .purpleBox {
      bottom: 10%;
    }
  
    .responsive-container-block.Container.bottomContainer {
      padding-top: 10px;
      padding-right: 0px;
      padding-bottom: 10px;
      padding-left: 0px;
      max-width: 930px;
    }
  
    .allText.bottomText {
      width: 40%;
    }
  
    .purpleBox {
      bottom: auto;
      left: -10%;
      top: 70%;
    }
  
    .mainImg {
      width: 100%;
    }
  
    .text-blk.headingText {
      text-align: left;
    }
  }
  
  @media (max-width: 768px) {
    .allText {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .responsive-container-block.Container {
      flex-direction: column;
      height: auto;
    }
  
    .text-blk.headingText {
      text-align: center;
    }
  
    .text-blk.subHeadingText {
      text-align: center;
      font-size: 24px;
    }
  
    .text-blk.description {
      text-align: center;
      font-size: 18px;
    }
  
    .allText {
      margin-top: 40px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .allText.aboveText {
      margin-top: 40px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .responsive-container-block.Container {
      margin-top: 80px;
      margin-right: auto;
      margin-bottom: 50px;
      margin-left: auto;
    }
  
    .responsive-container-block.Container.bottomContainer {
      margin-top: 50px;
      margin-right: auto;
      margin-bottom: 50px;
      margin-left: auto;
    }
  
    .allText.bottomText {
      margin-top: 40px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .mainImg {
      width: 100%;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: -70px;
      margin-left: 0px;
    }
  
    .responsive-container-block.Container.bottomContainer {
      flex-direction: column;
    }
  
    .ultimateImg {
      width: 100%;
    }
  
    .purpleBox {
      position: static;
    }
  
    .allText.bottomText {
      width: 100%;
      align-items: flex-start;
    }
  
    .text-blk.headingText {
      text-align: left;
    }
  
    .text-blk.subHeadingText {
      text-align: left;
    }
  
    .text-blk.description {
      text-align: left;
    }
  
    .ultimateImg {
      position: static;
    }
  
    .mainImg {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .ultimateImg {
      position: relative;
    }
  
    .purpleBox {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      position: absolute;
      left: 0px;
      top: 80%;
    }
  
    .allText.bottomText {
      margin-top: 100px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  }
  
  @media (max-width: 500px) {
    .responsive-container-block.Container {
      padding-top: 10px;
      padding-right: 0px;
      padding-bottom: 10px;
      padding-left: 0px;
      width: 100%;
      max-width: 100%;
    }
  
    .mainImg {
      width: 100%;
    }
  
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 25px;
      padding-bottom: 10px;
      padding-left: 25px;
    }
  
    .text-blk.subHeadingText {
      font-size: 24px;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      line-height: 28px;
    }
  
    .text-blk.description {
      font-size: 16px;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      line-height: 22px;
    }
  
    .allText {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      width: 100%;
    }
  
    .allText.bottomText {
      margin-top: 50px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      padding: 0 0 0 0;
      margin: 30px 0 0 0;
    }
  
    .ultimateImg {
      position: static;
    }
  
    .purpleBox {
      position: static;
    }
  
    .stars {
      width: 55%;
    }
  
    .allText.bottomText {
      margin-top: 75px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
    }
  
    .purpleText {
      font-size: 16px;
      line-height: 22px;
    }
  
    .explore {
      padding: 6px 35px 6px 35px;
      font-size: 15px;
    }
  }

hr{
    width: 80%;
    margin-left: 150px;
}
.vl {
    border-left: 6px solid green;
    height: 50px;
    margin-left: 150px;
  }








// Footer section

a {
  color: #fff;
  text-decoration: none;
}
.pg-footer {
  font-family: 'Roboto', sans-serif;
}


.footer {
    background-color: #004658;
    color: #fff;
}
.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}
.footer-wave-path {
    fill: #fffff2;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
    
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
    display: inline-block;
}
.footer-menu {
    margin-top: 30px;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}
.footer-menu-list li {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
    background-color: #fffff2;
    color: #00bef0;
}
.button:last-of-type {
    margin-right: 0;
}
.footer-call-to-action-button {
    background-color: #027b9a;
    border-radius: 21px;
    color: #fffff2;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}
.footer-call-to-action {
    margin-top: 30px;
}
.footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}

.footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #027b9a;
}

.footer-social-link.linkedin {
    height: 26px;
    left: 3px;
    top: 11px;
    width: 26px;
    margin-left: 2px;
}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-social-icon-svg {
    display: block;
    font-size: x-large;
}

.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}

.footer-social-link.twitter {
    height: 28px;
    left: 62px;
    top: 3px;
    width: 28px;
    margin-left: 1px;
}

.footer-social-link.youtube {
    height: 24px;
    left: 123px;
    top: 12px;
    width: 24px;
    margin-left: 1px;
}

.footer-social-link.github {
    height: 34px;
    left: 172px;
    top: 7px;
    width: 34px;
    margin-left: 5px;
}

.footer-copyright {
    background-color: #027b9a;
    color: #fff;
    padding: 15px 30px;
    text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}

/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */

}

@media (min-width: 760px) {
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }

  .footer-wave-svg {
      height: 50px;
  }

  .footer-content-column {
      width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}




// Nutrition section

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

.nutrition .card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 40px;
  width: 500px;
  height: auto;
  display: inline-block;
  margin-right: 20px;
  margin-left: 160px;
  margin-top: 50px;
}

.nutrition .card-header {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  background-color: #f7f7f7;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.nutrition .card-body {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.nutrition .card-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.nutrition .card-item-label {
  font-weight: bold;
  color: #666;
  width: 30%;
}

.nutrition .card-item-value {
  color: #333;
  width: 70%;
  text-align: left;
  margin-top: 18px;
}
.nutrition .card-footer {
  margin-top: 20px;
  border-top: 1px solid #eee;
  padding-top: 10px;
  text-align: center;
}






/* team member section */
.why-us-img img {
  width: 696px;
  height: 630px;
}

.start {
  width: 200px;
  height: 55px;
  border-radius: 30px;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.04);
  background-color: white;
}

.start button img {
  animation: rotateImage 5s linear infinite;
}

@keyframes rotateImage {
  from {
      transform: rotateY(0deg);
  }

  to {
      transform: rotateY(360deg);
  }
}

.start button {
  width: 55px;
  height: 55px;
  z-index: 2;
  padding: 2px;
  background-color: #efb443;
  border: none;
  border-radius: 50px;
}

.Habitro {
  padding: 20px;
}

.Habitro h2 {
  color: #282b2d;
  font-size: 39px;
  margin: 10px 0px 20px 0px;
  font-family: 'Livvic', sans-serif;
}

.us {
  color: #efb443;
  font-size: 14px;
  padding-top: 16px;
}

.accordion-item {
  background-color: #fafafa;
}

.accordion-header {
  background-color: #efb443;
}

#new-team {
  width: 100%;
  height: 700px;
  background: url('../../../assets/img/bg-08.png');
  background-size: cover;
  background-color: #6d8c54;
}

.card-1 {
  width: 340px;
  height: 300px;
  background-color: rgba(225, 225, 225, 0) !important;
  border-radius: 17px;
}

.card-image img {
  width: 320px;
  height: 300px;
}

.social-icons {
  cursor: pointer;
  width: 54px;
  height: 54px;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  right: 8px;
  background: #efb443;
  color: #ffffff;
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons:hover,
.social-icons-one:hover {
  color: white;
  background-color: #efb3438a;
}

.list-unstyled {
  position: absolute;
  top: 80px;
  right: 8px;
}

.social-icons-one {
  cursor: pointer;
  width: 54px;
  height: 54px;
  border-radius: 5px;
  background: #efb443;
  color: #ffffff;
  font-size: 19px;
  text-align: center;
  padding-top: 9px;
}